ALIYUN_IP=
DB_USERNAME=root
DB_PASSWORD=
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=mall
JWT_SECRET=mall-hj-secret-key-must-be-at-least-256-bits-long-for-hs256
